import(stats, graphics)

export(aurelhy,
	   auremask,
       coords,
	   geomask,
	   geomat,
	   geoshapes,
	   geotm,
	   match.coords,
       polar.coords,
	   read.geomask,
	   read.geomat,	   
	   read.geoshapes,
	   read.geotm,
	   resample,
	   write.geomask,
	   write.geomat,
	   write.geoshapes,
	   write.geotm)

S3method(plot, aurelhy)
S3method(points, aurelhy)
S3method(predict, aurelhy)
S3method(print, aurelhy)
S3method(summary, aurelhy)
S3method(update, aurelhy)

S3method(plot, auremask)
S3method(print, auremask)

S3method(contour, geomat)
S3method(coords, geomat)
S3method(image, geomat)
S3method(persp, geomat)
S3method(plot, geomat)
S3method(print, geomat)
S3method(resample, geomat)
S3method(window, geomat)

S3method(image, geomask)

S3method(print, geoshapes)
S3method(lines, geoshapes)
S3method(points, geoshapes)
