import(stats, graphics)

export(auremask,
       coords,
	   match.coords,
       polarcoords,
	   read.dem,
	   resample)

S3method(plot, auremask)
S3method(print, auremask)

S3method(coords, geomat)
S3method(image, geomat)
S3method(print, geomat)
S3method(resample, geomat)
S3method(window, geomat)
